/*---------------MAIN NAVIGATION----------------*/
nav {
    background-color: #4c7e8f;
    height: 60px;
}

.nav-list, .social-list{
    list-style: none;
}

.nav-list li, .social-list li {
    float: left;
    padding-right: 20px;
} 
.nav-list li a {
    color: #fff;
    text-decoration: none;
}
.nav-list li {
    margin-right: 10px;
}
.nav-list {
    padding-top: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.cont {
    
}

.container-fluid {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 30px;
    
   
}

.container-fluid .whoimg{
	display: block;
  margin-left: auto;
  margin-right: auto;
}


/*===================doctors==================*/
.feature-list-container{
	max-width: 1000px ;
    margin: 0 auto;
    padding: 30px 30px;
	box-sizing: border-box;
    max-height: 500px
	
}
.feature-list-container::after{
    float: left;
    width: 100%;
    padding : 3px;
}


.feature-list-container li a{
	text-decoration: none;

}

.feature-list-container li{
	list-style-type: none;
}

.feature-list-container .feature-icon{
	
	border-radius: 50%;
	display: block;
 	 margin-left: auto;
 	 margin-right: auto;
  	 width: 50%;
	  max-width:30%;
	  max-height:30%;
	  float: left;
}

 .feature-icon{
	margin-top: 70px;
}
.feature-icon1{
    	margin-top: 10px;

}

.feature-list-container .feature-icon{
	border-radius: 50%;
	display: block;
 	 margin-left: auto;
 	 margin-right: auto;
  	 width: 50%;
	  max-width:30%;
	  max-height:30%;
	
}

.featue-list::after{
	float: left;
    width: 50%;
    padding : 3px;
    
    content: "";
    clear: both;
    display: table;
}
.featue-list1::after{
	float: right;
    width: 50%;
    padding : 3px;
    
    content: "";
    clear: both;
    display: table;
    
    
}


@supports (display: grid) {
    @media screen and (max-width: 100px) {
        column-gap: 0.5rem;
	}
}

