.test_start{
	max-width: 1000px;
    margin: 0 auto;
    padding: 30px 30px;
    display: block;
}
.confution{
	
	font-weight: 800;
}
.confution_test{
	max-width: 1000px;
    margin: 0 auto;
    padding: 30px 30px;
}
.symtoms{
	font-weight: 800;
}
.sym_all{
	max-width: 1000px;
    margin: 0 auto;
    padding: 30px 30px;

}

